
  <mat-horizontal-stepper labelPosition="bottom" linear #stepper>
  <mat-step [stepControl]="receivedFormGroup" >
    <ng-template matStepLabel>Received</ng-template>
    <app-received  (checkFormGroup)="checkFormGroup($event)" (moveStep)="moveStep($event)"></app-received>
  </mat-step>
  <mat-step [stepControl]="qualityCheckFormGroup" >
    <ng-template matStepLabel>Quality Check</ng-template>
    <app-quality-check  (checkFormGroup)="checkFormGroup($event)" (moveStep)="moveStep($event)"
    ></app-quality-check>
  </mat-step>
  <mat-step [stepControl]="cleanedFormGroup" >
    <ng-template matStepLabel>Cleaned</ng-template>
    <app-cleaned   (checkFormGroup)="checkFormGroup($event)" (moveStep)="moveStep($event)"></app-cleaned>
  </mat-step>
  <mat-step [stepControl]="processedFormGroup">
    <ng-template matStepLabel>Processed</ng-template>
    <app-processed  (checkFormGroup)="checkFormGroup($event)" (moveStep)="moveStep($event)"></app-processed>
  </mat-step>
</mat-horizontal-stepper>
