<form [formGroup]="dynamicForm" class="form-group" class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 form-background">
            <div class="row">
                <div *ngFor="let field of formFields" class="mb-3 col-md-6 ">
                    <mat-form-field appearance="outline">
                        <mat-label>{{field.fieldLabel}}</mat-label>
            
                    <div *ngIf="field.fieldType == 'text'">
                            <input matInput [id]="field.fieldLabel" type="text" 
                            [formControlName]="field.fieldLabel" />
                        
                    </div>
                    <div *ngIf="field.fieldType == 'number'">
                        <input matInput [id]="field.fieldLabel" type="number" 
                        [formControlName]="field.fieldLabel" />
                    
                    </div>
                    <div *ngIf="field.fieldType == 'textArea'">
                            <textarea matInput [id]="field.fieldLabel"  [formControlName]="field.fieldLabel"></textarea>
                    </div>
                    <div *ngIf="field.fieldType == 'dropDown'">
                            <mat-select  [id]="field.fieldLabel" [formControlName]="field.fieldLabel">
                                <mat-option *ngFor="let op of field.options" [value]="op">{{ op }}</mat-option>
                            </mat-select>
                    </div>
                    <ng-container *ngIf="field.fieldType == 'date'">
                        <input  matInput [matDatepicker]="picker" [formControlName]="field.fieldLabel" (dateInput)="dateEntered(field.fieldLabel)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </ng-container>
                    <div *ngIf="field.fieldType == ''">No field type given</div>
                </mat-form-field>
            
                </div>
            </div>
            <button mat-flat-button class="btn btn-primary" *ngIf="isButtonVisible" (click)="onSave()">Save</button>
        </div>
    </div>
</form>
