.form-background {
    background-color: #b3cef747;
    padding: 30px 20px;
    border-radius: 5px;

    .mat-form-field {
        width:100%;
    }
}

.btn {
    float: right;
    padding-left: 16px;
    padding-right: 16px;

}