<loading *ngIf="isLoading"></loading>
<div class="row product-details">
  <div *ngIf="!isSummeryAvailable" class="col-md-8 offset-md-2">
    <app-qr-code-reader
      [isEditable]="isEditable"
      (onCaptureBatchCode)="onCaptureProductDetails($event)"
    ></app-qr-code-reader>
  </div>

  <form [formGroup]="summeryForm" *ngIf="isSummeryAvailable" class="col-md-6 offset-md-3" (ngSubmit)="onSubmit()" novalidate>
    <h1>Summery</h1>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Batch Id</mat-label>
          <input
            matInput
            type="text"
            placeholder="Type here"
            formControlName="batchId"
            
          />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="mb-3 col-md-6 " appearance="outline">
            <mat-label>Event Type</mat-label>
            <mat-select formControlName="eventType" [disabled]="isEditable">
                <mat-option *ngFor="let eventType of eventTypes" [value]="eventType">{{eventType}}</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
        <div class="col-md-6">
            <mat-form-field class="mb-3 col-md-6 " appearance="outline">
                <mat-label>Dispatch Date</mat-label>
                <input matInput [matDatepicker]="dispatchDatePicker" formControlName="dispatchDate" >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="dispatchDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #dispatchDatePicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="mb-3 col-md-6 " appearance="outline">
                <mat-label>Event Date Time</mat-label>
                <input matInput [matDatepicker]="eventDateTimePicker" formControlName="eventDateTime" >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="eventDateTimePicker"></mat-datepicker-toggle>
                <mat-datepicker #eventDateTimePicker></mat-datepicker>
            </mat-form-field>
        </div>
      <!-- Farmer Info -->
      <div formGroupName="formerDetails">
        <h4>Farmer Details</h4>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="username"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="phone"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="email"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="address"
                
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      
      <!-- Supplier Info -->
      <div formGroupName="supplierDetails">
        <h4>Supplier Details</h4>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="username"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="phone"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="email"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="address"
                
              />
            </mat-form-field>
          </div>
        </div>
      </div>
     
      
      <!-- Fleet Info -->
      <div formGroupName="fleetDetails">
        <h4>Fleet Details</h4>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Fleet Id</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="fleetId"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>From Location</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="fromLocation"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>To Location</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="toLocation"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>DriverName</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="driverName"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Driver Contact Number</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="driverContactNumber"
                
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Journey Start Date</mat-label>
              <input
                matInput
                type="text"
                placeholder="Type here"
                formControlName="journeyStartDate"
                
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <button mat-stroked-button type="submit" *ngIf="!isEditable">Submit</button>
</form>
</div>
