<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Food Processing Chain Logo"
    src="../assets/icons/dip.png"
  />
  <span>Food Tracker App</span>
  <div class="spacer"></div>
  <header class="navbar navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
          >Home</a
        >
      </li>

      <!-- Authorized only -->
      <li class="nav-item" *ngIf="isFarmer">
        <a class="nav-link" [routerLink]="['/farmer/overview']" routerLinkActive="active"
          >Overview</a
        >
      </li>

      <!-- Authorized only -->
      <li class="nav-item" *ngIf="isRetailer">
        <a
          class="nav-link"
          [routerLink]="['retailer']"
          routerLinkActive="active"
          >Overview</a
        >
      </li>

      <!-- Admin only -->
      <li class="nav-item" *ngIf="isAdmin">
        <a
          class="nav-link"
          [routerLink]="['/admin/dashboard']"
          routerLinkActive="active"
          >Admin</a
        >
      </li>

      <!-- Admin only -->
      <li class="nav-item" *ngIf="isManufacturer">
        <a
          class="nav-link"
          [routerLink]="['/manufacturer/dashboard']"
          routerLinkActive="active"
          >Manufacturer</a
        >
      </li>

      <!-- Retailer only -->
      <li class="nav-item" *ngIf="isSupplier">
        <a
          class="nav-link"
          [routerLink]="['/supplier/dashboard']"
          routerLinkActive="active"
          >Supplier</a
        >
      </li>

      <li class="nav-item" *ngIf="isDistributor">
        <a
          class="nav-link"
          [routerLink]="['/distributor/dashboard']"
          routerLinkActive="active"
          >Supplier</a
        >
      </li>

      <li class="nav-item" *ngIf="isGuest">
        <a
          class="nav-link"
          [routerLink]="['/scanner']"
          routerLinkActive="active"
          >Scanner</a
        >
      </li>

      <!-- Anonymous only -->
      <li class="nav-item" *ngIf="!isAuthorized">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"
          >Login</a
        >
      </li>

      <!-- Authorized only -->
      <li class="nav-item" *ngIf="isAuthorized">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
    <span class="navbar-text">
      <span class="badge badge-warning" *ngIf="isAuthorized"
        >Authorized by
        <span *ngIf="isAdmin; else userName">(Admin)</span>
        <ng-template #userName>{{ userDetails?.sub }}</ng-template>
      </span>
    </span>
  </header>
</div>

<div class="content" role="main">
</div>

<div class="jumbotron">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

