name: Deploy to Azure
on:
  push:
    branches:
      - main
env:
  AZURE_WEBAPP_NAME: foodtrackerrcmmvevui
  AZURE_WEBAPP_PACKAGE_PATH: './dist/food-chain'
  NODE_VERSION: '14.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VERSION }}
    - name: Install dependencies
      run: npm install
      
    - name: Install @zxing/library
      run: npm i @zxing/library
      
    - name: Install @zxing/browser
      run: npm i @zxing/browser
      
    - name: Install @cordobo/qrcode
      run: npm i @cordobo/qrcode
      
    - name: Build
      run: npm run build --prod
    - name: 'Deploy to Azure WebApp'
      uses: azure/webapps-deploy@v1
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
